[Unit]
Description=@project.description@
Requires=network.target
After=syslog.target

[Service]
User=@project.artifactId@
Type=simple
ExecStart=/usr/lib/@project.build.finalName@/@project.build.finalName@.jar
EnvironmentFile=-/etc/@project.artifactId@/service.conf
PIDFile=/var/run/@project.artifactId@.pid
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
